{% extends 'blogapp/base.html' %}

{% block title %}
  Article list
{% endblock %}

{% block body %}
  <h1>Articles</h1>
  {% if articles %}
    <div>
    {% for article in articles %}
      <div>
        <h2> {{ article.title }} </h2>
        <p>Publication date: {{ article.pub_date }}</p>
        <p>Author: {{ article.author.name }}</p>
        <p>Category: {{ article.category.name }}</p>
        <p>
          {% for tag in article.tags.all %}
            <span>#{{ tag.name }}</span>{% if not forloop.last %} {% endif %}
          {% endfor %}
        </p>
      </div>
    {% endfor %}

    </div>

  {% else %}
    <h3>No articles yet</h3>
  {% endif %}

{% endblock %}
